@import url('https://fonts.google.com/specimen/Poppins');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: hsl(0, 100%, 74%);
    background-image: url('/images/bg-intro-desktop.png');
   

}

.container {
    max-width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 460px;
    height: 400px;
    margin-right: 40px;
}

.text-wrapper h1 {
    color: #fff;
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 20px;
}

.text-wrapper h5 {
    color: #fff;
}

.form-container {
    background: #fff;
    width: 460px;
    height: 400px;
    padding: 40px 40px;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

form {
    display: flex;
    flex-direction: column;    
}

input  {
    height: 46px;
    margin: 10px 0px;
    padding-left: 20px;
    border-radius: 4px;
    border: ridge 2px rgb(238, 238, 238);
}

input:focus {
    border: solid 2px hsl(248, 32%, 49%);
}

input[type=submit] {
    border: none;
    background-color: hsl(154, 59%, 51%);
    color: #fff;
}

input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}